*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d3557;
}
.gridContainer{
    display:grid;
    height: 800px;
    width:800px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.pixel{
    background-color: #457b9d;
    
}